{% extends "network/layout.html" %}
{% load static %}
{% load tz %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            {% for post in posts %}

            <div id="post-{{ post.id }}" class="card my-2">
                <!-- Add some sort of profile elements in header AFTER profile creation -->
                <h5 class="card-header"><a class="nav-link" href="{% url 'profile' post.user %}">
                        {{ post.user }}</a>
                </h5>
                <div class="card-body">
                    <p class="card-text">{{ post.comment_field }}</p>
                    <div class="row">
                        <div class="col-2">
                            <button id="likeButton" class="btn btn-outline-primary btn-sm"
                                data-id="{{ post.id }}">Like</button>
                        </div>

                        <div class="col-3">
                            <small id="current_likes" class="text-muted">Likes: {{ post.likes.all|length }}</small>
                        </div>
                        <!-- Can be further improved when like function is finished-->

                        {% if request.user != user %}
                        <div class="col-2">
                            <button class="btn btn-outline-primary btn-sm">Follow</button>
                        </div>
                        {% endif %}

                        {% if request.user == post.user %}
                        <div class="col-auto">
                            <button class="btn btn-outline-primary btn-sm">Edit</button>
                        </div>
                        {% endif %}

                        {% if user.timezone %}

                        {% timezone user.timezone %}
                        <div class="col-3 ms-auto text-center">
                            <sub>{{ post.created_at }}</sub>
                        </div>
                        {% endtimezone %}

                        {% else %}
                        <div class="col-4 ms-auto text-center">
                            <sub>{{ post.created_at }}</sub>
                        </div>
                        {% endif %}

                    </div> <!-- Need to used "CREATED AT" here-->
                </div>
            </div>

            <!-- <ul>{{ post.user }}: {{ post.comment_field }}</ul> -->
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'network/script.js' %}"></script>
{% endblock %}