{% extends "network/layout.html" %}
{% load static %}
{% load tz %}

{% block body %}
<div class="row justify-content-center pt-4">
    <div class="col-auto border rounded-pill px-5 py-1 titleClass">
        <p class="h4 fw-light mb-0">All Posts</p>
    </div>
</div>
<div class="container pt-2">
    <div class="row justify-content-center">
        <div class="col-7">
            {% for post in posts|dictsortreversed:'created_at' %}

            <div id="post-{{ post.id }}" class="card my-2">
                <!-- Add some sort of profile elements in header AFTER profile creation -->
                <div class="card-header justify-content-between" style="display: flex;">
                    <a class="nav-link col-10 fs-5" href="{% url 'profile' post.user %}">
                        {{ post.user }}
                    </a>
                    {% if request.user == post.user %}
                    <div class="col-auto">
                        <button class="btn btn-outline-secondary btn-sm editButton"
                            data-id="{{ post.id }}">Edit</button>
                    </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ post.post_field }}</p>
                    <div class="row justify-space-between card-buttons">

                        <div class="col-auto">
                            <button class="btn btn-outline-primary btn-sm likeButton px-3" data-id="{{ post.id }}">
                                {% if request.user not in post.likes.all %}Like{% else %}Unlike{% endif %}
                            </button>
                        </div>

                        <div class="col-auto">
                            <small class="text-muted currentLikes">Likes: {{ post.likes.all|length }}</small>
                        </div>

                        {% if user.timezone %}

                        {% timezone user.timezone %}
                        <div class="col-3 ms-auto text-center">
                            <sub>{{ post.created_at }}</sub>
                        </div>
                        {% endtimezone %}

                        {% else %}
                        <div class="col-4 ms-auto text-center">
                            <sub>{{ post.created_at }}</sub>
                        </div>
                        {% endif %}

                    </div>

                    <!-- Appears only if the user is able to edit a post -->
                    <div class="row justify-content-center submitRow" style="display: none;">
                        <div class="col-auto w-75">
                            <button class="btn btn-outline-success btn-sm submitButton w-100"
                                data-id="{{ post.id }}">Save Edit</button>
                        </div>
                    </div>

                </div>
            </div>

            {% endfor %}
        </div>

    </div>
</div>
<nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item col-auto">
            {% if posts.has_previous %}
        <li class="page-item col-auto">
            <a class="page-link rounded-start-pill" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item col-auto">
            <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
        </li>
        {% else %}

        <li class="page-item disabled col-auto">
            <a class="page-link rounded-start-pill" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item disabled col-auto">
            <a class="page-link" href="#">Previous</a>
        </li>

        {% endif %}
        </li>

        <li class="page-item disabled col-auto">
            <span class="page-link">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
        </li>

        <li class="page-item col-auto">
            {% if posts.has_next %}
        <li class="page-item col-auto">
            <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
        </li>
        <li class="page-item col-auto rounded-end-circle">
            <a class="page-link rounded-end-pill" href="?page={{ posts.paginator.num_pages }}">Last&raquo;</a>
        </li>
        {% else %}

        <li class="page-item disabled col-auto">
            <a class="page-link" href="#">Next</a>
        </li>
        <li class="page-item disabled col-auto rounded-end-pill">
            <a class="page-link rounded-end-pill" href="?page={{ posts.paginator.num_pages }}">Last&raquo;</a>
        </li>

        {% endif %}
        <li class="page-item"></li>
    </ul>
</nav>


{% endblock %}

{% block script %}
<script src="{% static 'network/script.js' %}"></script>
{% endblock %}