{% extends "network/layout.html" %}
{% load static %}
{% load tz %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            {% for post in posts %}

            <div class="card">
                <!-- Add some sort of profile elements in header AFTER profile creation -->
                <h5 class="card-header">{{ post.user }}</h5>
                <div class="card-body">
                    <p class="card-text">{{ post.comment_field }}</p>

                    <button id="likeButton" class="btn btn-link">Like</button>

                    <small class="text-muted">Current likes: 0</small>
                    <!-- Can be further improved when like function is finished-->

                    {% if request.user != post.user %}
                    <button class="btn btn-link">Follow</button>
                    {% endif %}

                    {% if request.user == post.user %}
                    <button class="btn btn-link">Edit</button>
                    {% endif %}

                    {% if user.timezone %}

                    {% timezone user.timezone %}
                    <sub class="col-2">{{ post.created_at }}</sub>
                    {% endtimezone %}

                    {% else %}
                    <sub class="col-2">{{ post.created_at }}</sub>
                    {% endif %} <!-- Need to used "CREATED AT" here-->
                </div>
            </div>

            <!-- <ul>{{ post.user }}: {{ post.comment_field }}</ul> -->
            {% endfor %}
        </div>
    </div>
</div>

{% block script %}
<script src="{% static 'network/script.js' %}"></script>
{% endblock %}

{% endblock %}