{% extends "network/layout.html" %}
{% load static %}

{% block title %}New Post{% endblock %}

{% block body %}
<div class="container pt-2">
    <div class="row justify-content-center">
        <form class="form-control border border-0" method="POST">
            <div class="col-12">
                {% csrf_token %}
                {{ new_post_form }}
            </div>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}