body {
    background: #F5F5F5;
    /* color: #E5E5CB; */
}

form {
    background: #F5F5F5;
}

body>nav {
    background: #66B067;
}

form {
    background: #F5F5F5;
}

.card-header,
.titleClass {
    background: #7EB07F;
    color: #212529;
}

.card-body {
    background: #FFFFFF;
    color: #212529;
}

/* DARK MODE section */

.dark-mode,
.dark-mode form {
    background: #212529 !important;
    color: lightgray;
}

.dark-mode .card,
.dark-mode .page-item.disabled,
.dark-mode .titleClass {
    border: #444b53 !important;
}

.dark-mode .page-link {
    border: #555e68 !important;
}

.dark-mode .card-body {
    background: #2B3035;
    color: lightgray;
}

.dark-mode .card-header,
.dark-mode .navbar,
.dark-mode .offcanvas-end,
.dark-mode .page-link,
.dark-mode textarea,
.dark-mode textarea:focus,
.dark-mode .titleClass {
    background: #363c42;
    color: lightgray;
}

.dark-mode .navbar-toggler {
    background: gray;
}

.dark-mode .disabled .page-link {
    color: gray;
}

.dark-mode .text-muted,
.dark-mode .navbar-brand,
.dark-mode .nav-link {
    color: lightgray !important;
}