body {
    background: #F5F5F5;
    /* color: #E5E5CB; */
}

body>nav {
    background: #66B067;
}

.card-header {
    background: #7EB07F;
    color: #212529;
}

.card-body {
    background: #FFFFFF;
    color: #212529;
}